<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0"/>
  </startup>
  <appSettings>
    <add key="x264CRF" value="30" />
    <add key="x264Bitrate" value="800" />
    <add key="x264AudioParameter" value="--abitrate 128" />
    <add key="x264AudioMode" value="0" />
    <add key="x264Exe" value="0" />
    <add key="x264Demuxer" value="1" />
    <add key="x264Width" value="0" />
    <add key="x264Height" value="0" />
    <add key="x264CustomParameter" value="--crf 23.5 --preset 9 -r 5 -b 5 --me umh --merange 32 -I infinite -i 1 --scenecut 50 -f 1:1 --qcomp 0.5 --psy-rd 0.3:0 --aq-strength 0.8 --vf resize:960,540,,,,lanczos" />
    <add key="x264Priority" value="2" />
    <add key="x264ExtraParameter" value="" />
    <add key="AVSScript" value="可直接把AVS脚本粘贴到这里" />
    <add key="AudioEncoder" value="0" />
    <add key="AudioCustomParameter" value="-q 1 -lc" />
    <add key="AudioParameter" value="128" />
    <add key="OnePicAudioBitrate" value="128" />
    <add key="OnePicFPS" value="1" />
    <add key="OnePicCRF" value="24" />
    <add key="BlackFPS" value="1" />
    <add key="BlackCRF" value="51" />
    <add key="BlackBitrate" value="900" />
    <add key="SetupDeleteTempFile" value="True" />
    <add key="CheckUpdate" value="True" />
    <add key="TrayMode" value="False" />
    <add key="SplashScreen" value="True" />
    <add key="LanguageIndex" value="0" />
    <add key="x264Threads" value="0" />
    <add key="PreviewPlayer" value="" />
    <add key="MuxFormat" value="0" />
    <add key="SubLanguageExtension" value="none,sc,tc,chs,cht,en,jp" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WebServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://www.ecit.org.cn:8086/webservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceSoap"
        contract="ServiceReference.WebServiceSoap" name="WebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
